@{
    ViewData["Title"] = "Home Page";
}

<div class="container row gap-3">
   <div class="col-md-12">
       <h3>Upload CSV File</h3>
       <input class="form-control" type="file" name="fileInput" />
   </div>

    <div class="col-md-12">
       <button class="btn btn-md btn-primary" type="button">Download Template</button>
   </div>
</div>
